{"openapi":"3.1.0","info":{"version":"1.0.0","title":"Lightspeed Restaurant K Series API","description":"**Lightspeed Restaurant** offers a **REST API** in order to communicate with the data in the system. These APIs are built using the RESTful standards and adhere to the basic verb interactions as defined by the REST standard.\nDetailed developer guides can be found in the [Lightspeed Restaurant API Portal](https:\/\/api-portal.lsk.lightspeed.app\/).\nThese services are in continuous development and subject to change. Please find our versioning policy [here](https:\/\/api-portal.lsk.lightspeed.app\/quick-start\/versioning).\n","x-logo":{"altText":"Lightspeed Commerce","url":"static\/lightspeed@2x.png"}},"servers":[{"url":"https:\/\/api.trial.lsk.lightspeed.app","description":"Demo URL","x-bump-branch-name":"demo"},{"url":"https:\/\/api.lsk.lightspeed.app","description":"Production URL","x-bump-branch-name":"prod"}],"tags":[{"name":"Rich Item"},{"name":"Tax Breakdown"},{"name":"Staff","description":"Staff API. Authorisation Code grant type is required for this API with permission ROLE_CONFIG_USERS."},{"name":"Reservations for Platforms"},{"name":"PMS"},{"name":"Items"},{"name":"Reservations"},{"name":"ID Cards"},{"name":"Financial","description":"V1 endpoints (`\/f\/finance\/...`) for retrieving sales and financial data.\n\nFor the newer V2 versions of these endpoints see FinancialV2\n\n### V1 behaviour\n\n- **Sorting**: No guaranteed sorting order; internal transformations may alter order unpredictably\n- **Transitory Accounts \/ Unsettled Sales**: Returns closed transactions only\n- **Pagination**: `pageSize` max of 1000. Uses HATEOAS `_links` with `self` and `nextPage` URLs\n- **Daily endpoints** (`getDailyFinancials`): No pagination, no hard cap on results. May have slower response times for larger data sets\n- **Backoffice transactions**: Historical dating supported. Transactions will be dated to a past date if the action impacts past reports. Can query transactions by original business date\n- **Backoffice modifications** (payment method change and canceling): Modifications appear on the original transaction date\n"},{"name":"FinancialV2","description":"V2 endpoints (`\/f\/v2\/...`) for retrieving sales and financial data.\n\n### Endpoint Mapping\n\n| V1 Endpoint | V2 Endpoint |\n|-------------|-------------|\n| `getFinancials` (`\/f\/finance\/{id}\/financials\/{from}\/{to}`) | `getSales` (`\/f\/v2\/business-location\/{id}\/sales`) |\n| `getDailyFinancials` (`\/f\/finance\/{id}\/dailyFinancials`) | `getBusinessDaySales` (`\/f\/v2\/business-location\/{id}\/sales-daily`) |\n\nResponse DTOs are nearly identical to V1 with the exceptions noted below\n\n### V2 behaviour\n\n- **Sorting**: Explicitly sorted by `timeClosed`\n- **Transitory Accounts \/  Unsettled Sales**: Returns closed transactions and ensures no transitory (unclosed) transactions are included in reporting\n- **Pagination**: `pageSize` max of 100. No HATEOAS `_links`; uses `nextPageToken` string for pagination instead\n- **Daily endpoints** (`getBusinessDaySales`): No pagination, no hard cap on results. May have slower response times for larger data sets\n- **Backoffice transactions**: Historical dating not currently supported \u2014 transactions appear as if created at current time. Transactions can only be found by the date\/time they were actually created. *Historical dating support is planned for a future release.*\n- **Backoffice modifications** (payment method change and canceling): Modifications appear on the date the modification was performed, not the original transaction date\n\nIf you need to query transactions by their original business date (e.g. for historical reporting or reconciliation); The V1 endpoints may be more suitable until backwards compatibility is added to V2 for this aspect.\n"},{"name":"Order and Pay"},{"name":"Order and Pay: Webhook"}],"webhooks":{"apeOrder notification":{"post":{"summary":"Order Notification","operationId":"onlineOrderNotification","description":"What your webhook implementation will receive when placing an order","tags":["Order and Pay"],"requestBody":{"content":{"application\/json":{"examples":{"successfulWithoutAccountInfo":{"summary":"successful","value":{"status":"SUCCESS","ikentooAccountId":"2114502594134196","ikentooAccountIdentifier":"A123080.14","thirdPartyReference":"REF11","type":"ORDER"}},"readyForPickUp":{"summary":"ready for pickup","value":{"thirdPartyReference":"order-wFUBVgHNGPAJsryIrSaE","businessLocationId":247158188015618,"status":"READY_FOR_PICKUP","account":{"clientCount":2,"uuid":"5a81c7f4-9e2f-4db2-965d-6946a4f9c25b","openDate":"2021-12-21T13:24:49.265+0000","paidAmount":"4.00","serviceCharge":"0.00","name":"Order NZVV","currentAmount":"4.00","staffName":"Manager","staffId":31930,"salesEntries":[{"id":304087979524125,"itemName":"Appetizer 2","itemSku":"21","unitAmount":"4.00","quantity":1,"modifiers":[],"amountWithTax":"4.00","amountLessTax":"3.33","discountedAmount":"0.00","grossUnitAmount":"4.00","active":true,"taxIncluded":true}],"paymentEntries":[{"paymentMethodDescription":"API Payment","externalReference":"1234567890","paymentMethodCode":"APM","amountPaid":"4.00","paymentDate":"2021-12-21T13:25:25.082+0000","active":true}],"ikaccountId":"A17700.3","tableNumber":3,"posId":17700},"ikentooAccountId":304087979524124,"ikentooAccountIdentifier":"A17700.3","type":"ORDER"}},"failure":{"summary":"failure","value":{"status":"FAILURE","reason":"A consumer already exists for this email address with a different external reference.","thirdPartyReference":"REF12212"}},"succesfulWithAccount":{"summary":"successful with account info","value":{"thirdPartyReference":"order-wFUBVgHNGPAJsryIrSaE","businessLocationId":247158188015618,"status":"SUCCESS","account":{"clientCount":2,"uuid":"5a81c7f4-9e2f-4db2-965d-6946a4f9c25b","openDate":"2021-12-21T13:24:49.265+0000","paidAmount":"0.00","serviceCharge":"0.00","name":"Order NZVV","currentAmount":"4.00","staffName":"Online Order","staffId":31930,"salesEntries":[{"id":304087979524125,"uuid":"1b8d016e-2c7f-456d-9349-8476eacd99bf","itemName":"Appetizer 2","itemSku":"21","unitAmount":"4.00","quantity":1,"modifiers":[],"amountWithTax":"4.00","amountLessTax":"3.33","discountedAmount":"0.00","grossUnitAmount":"4.00","timeOfTransactionUtc":"2023-11-08T13:33:52.641+0000","active":true,"subLineItems":[],"taxIncluded":true}],"paymentEntries":[],"ikaccountId":"A17700.3","tableNumber":3,"posId":17700},"ikentooAccountId":304087979524124,"ikentooAccountIdentifier":"A17700.3","type":"ORDER"}},"checkWasUpdated":{"summary":"check was updated","value":{"thirdPartyReference":"order-wFUBVgHNGPAJsryIrSaE","businessLocationId":247158188015618,"status":"CHECK_WAS_UPDATED","account":{"clientCount":2,"uuid":"5a81c7f4-9e2f-4db2-965d-6946a4f9c25b","openDate":"2021-12-21T13:24:49.265+0000","paidAmount":"4.00","serviceCharge":"0.00","name":"Order NZVV","currentAmount":"4.00","staffName":"Manager","staffId":31930,"salesEntries":[{"id":304087979524125,"itemName":"Appetizer 2","itemSku":"21","unitAmount":"4.00","quantity":1,"modifiers":[],"amountWithTax":"4.00","amountLessTax":"3.33","discountedAmount":"0.00","grossUnitAmount":"4.00","active":true,"taxIncluded":true}],"paymentEntries":[{"paymentMethodDescription":"API Payment","externalReference":"1234567890","paymentMethodCode":"APM","amountPaid":"4.00","paymentDate":"2021-12-21T13:25:25.082+0000","active":true}],"ikaccountId":"A17700.3","tableNumber":3,"posId":17700},"ikentooAccountId":304087979524124,"ikentooAccountIdentifier":"A17700.3","type":"ORDER"}},"closed":{"summary":"closed","value":{"thirdPartyReference":"order-wFUBVgHNGPAJsryIrSaE","businessLocationId":247158188015618,"status":"CLOSED","account":{"clientCount":2,"uuid":"5a81c7f4-9e2f-4db2-965d-6946a4f9c25b","openDate":"2021-12-21T13:24:49.265+0000","paidAmount":"4.00","serviceCharge":"0.00","name":"Order NZVV","currentAmount":"4.00","staffName":"Manager","staffId":31930,"salesEntries":[{"id":304087979524125,"itemName":"Appetizer 2","itemSku":"21","unitAmount":"4.00","quantity":1,"modifiers":[],"amountWithTax":"4.00","amountLessTax":"3.33","discountedAmount":"0.00","grossUnitAmount":"4.00","active":true,"taxIncluded":true}],"paymentEntries":[{"paymentMethodDescription":"API Payment","externalReference":"1234567890","paymentMethodCode":"APM","amountPaid":"4.00","paymentDate":"2021-12-21T13:25:25.082+0000","active":true}],"ikaccountId":"A17700.3","tableNumber":3,"posId":17700},"ikentooAccountId":304087979524124,"ikentooAccountIdentifier":"A17700.3","type":"ORDER"}}},"schema":{"allOf":[{"$ref":"#\/components\/schemas\/apeBaseWebhookInformation"},{"properties":{"status":{"enum":["SUCCESS","FAILURE","IN_DELIVERY","READY_FOR_PICKUP","CLOSED","ABANDONED","CANCELLED"],"description":"Status of the order operation.","type":"string"},"type":{"description":"Notification type","default":"ORDER","type":"string"},"account":{"allOf":[{"description":"Related account (if the webhook is configured to provide it)"},{"$ref":"#\/components\/schemas\/apeAccountSnapshot"}]}},"type":"object"}]}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback"}}}},"apePayment notification":{"post":{"summary":"Payment Notification","operationId":"onlinePaymentNotification","description":"What your webhook implementation will receive when placing a payment","tags":["Order and Pay"],"requestBody":{"content":{"application\/json":{"examples":{"successfulPayment":{"summary":"successful","value":{"thirdPartyReference":"REF11","businessLocationId":247158188015618,"status":"SUCCESS","ikentooAccountId":"2114502594134196","ikentooAccountIdentifier":"A123080.14","type":"PAYMENT"}},"failurePayment":{"summary":"failure","value":{"reason":"the payment amount is greater than the amount due","thirdPartyReference":"REF12212","businessLocationId":141948669832802,"status":"FAILURE","ikentooAccountIdentifier":"A78094.73","type":"PAYMENT"}}},"schema":{"allOf":[{"$ref":"#\/components\/schemas\/apeBaseWebhookInformation"},{"properties":{"status":{"enum":["SUCCESS","FAILURE"],"description":"Status of the order or payment operation.","type":"string"},"type":{"description":"Notification type","default":"PAYMENT","type":"string"}},"type":"object"}]}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback"}}}},"apeItem availability notification":{"post":{"summary":"Item Availability Notification","operationId":"salesRestrictionUpdatedNotification","description":"What your webhook implementation will receive when item sales restrictions are updated","tags":["Order and Pay"],"requestBody":{"content":{"application\/json":{"examples":{"itemRestricted":{"summary":"item restricted","value":{"sku":"UGG-BB-PUR-06","businessLocationId":247158188015618,"count":5,"countUpdatedAt":"2024-04-04T09:42:00.000+00:00","status":"RESTRICTED","type":"ITEM"}},"itemNotRestricted":{"summary":"item not restricted","value":{"sku":"UGG-BB-PUR-06","businessLocationId":247158188015618,"count":null,"countUpdatedAt":"2024-04-04T09:42:00.000+00:00","status":"NOT_RESTRICTED","type":"ITEM"}}},"schema":{"type":"object","properties":{"sku":{"type":"string","description":"The SKU of the item with updated availability","examples":["UGG-BB-PUR-06"]},"businessLocationId":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"count":{"type":["integer","null"],"format":"int64","description":"The available count of the item. null indicates no restriction","examples":[5]},"countUpdatedAt":{"type":"string","format":"date-time","description":"The timestamp when the count was last updated","examples":["2024-04-04T09:42:00.000+00:00"]},"status":{"type":"string","enum":["RESTRICTED","NOT_RESTRICTED"],"description":"The restriction status of the item","examples":["RESTRICTED"]},"type":{"type":"string","description":"Notification type","default":"ITEM","examples":["ITEM"]}},"required":["sku","businessLocationId","countUpdatedAt","status","type"]}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback"}}}},"pms-integration{subscriber-host}\/charge":{"post":{"summary":"Transaction Details","operationId":"transactionDetails","description":"What subscriber endpoint implementation will receive when a transaction is made.\nSubscriber path need to end with `\/charge`.\nSubscriber implementation should follow the payload backward compatibility rules below:\n  - What considered as backward **compatible**:\n    - Addition of new fields, enums, headers, or parameters.\n    - Transition from optional to required fields. Which means Lightspeed will consistently send the parameter\/field from now on.\n  - What considered as backward **incompatible**:\n    - Alteration of schema structure, such as switching from a map to an array.\n    - Removal of field\/enum\/header\n    - Changes in data types, such as converting from string to integer.\n    - Changes of property name\n","parameters":[{"in":"header","name":"Accept","required":true,"schema":{"type":"string","example":"application\/json","description":"The expected response content type from subscriber.\nOnly application\/json is supported.\n"}},{"in":"header","name":"X-Lightspeed-Idempotency-Key","required":true,"schema":{"type":"string","example":"LS1_123e4567-e89b-12d3-a456-426614174000","description":"Subscribers should utilize the Idempotency Key to ensure duplicates are handled appropriately on their end.\n"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/pms-integrationSalesWebhookDto"}}}},"responses":{"200":{"description":"Subscriber should return this code if it successfully processed the charge request at PMS.\nFollowing that, Lightspeed will mark the PMS charge transaction as SUCCESS as well.\n"},"5XX":{"description":"If any server error occurs subscriber can pass their own custom message to the POS.\nThe response body content need to follow the schema, else only `5XX {Error Type}` will be sent.\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/pms-integrationErrorWebhookDto"}}}},"4XX":{"description":"If any client error occurs subscriber can pass their own custom message to the POS.\nThe response body content need to follow the schema, else only `4XX {Error Type}` will be sent.\n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/pms-integrationErrorWebhookDto"}}}}},"tags":["PMS Integration"]}},"reservation-serviceReservation error notification":{"post":{"summary":"Error notification","operationId":"reservationErrorNotification","description":"These notifications are sent to the URL provided in the[`errorsWebhookUrl` field](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-reservation-servicesetbyplatformcode#operation-reservation-servicesetbyplatformcode-body-application-json-errorswebhookurl).","tags":["Reservations for Platforms"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/reservation-serviceErrorWebhook"}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."}}}},"reservation-serviceReservation integration notification":{"post":{"summary":"Integration notification","operationId":"reservationIntegrationNotification","description":"These notifications are sent to the URL provided in the[`integrationWebhookUrl` field](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-reservation-servicesetbyplatformcode#operation-reservation-servicesetbyplatformcode-body-application-json-integrationwebhookurl).","tags":["Reservations for Platforms"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/reservation-serviceIntegrationWebhook"}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."}}}},"reservation-serviceReservation onboarding notification":{"post":{"summary":"Onboarding notification","operationId":"reservationOnboardingNotification","description":"These notifications are sent to the URL provided in the[`onboardingWebhookUrl` field](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-reservation-servicesetbyplatformcode#operation-reservation-servicesetbyplatformcode-body-application-json-onboardingwebhookurl).","tags":["Reservations for Platforms"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/reservation-serviceOnboardingWebhook"}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."}}}},"reservation-serviceReservation order notification":{"post":{"summary":"Order notification","operationId":"reservationOrderNotification","description":"These notifications are sent to the URL provided in the[`orderWebhookUrl` field](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-reservation-servicesetbyplatformcode#operation-reservation-servicesetbyplatformcode-body-application-json-orderwebhookurl).","tags":["Reservations for Platforms"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/reservation-serviceOrderUpdate"}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."}}}},"reservation-servicePOS reservation updated notification":{"post":{"summary":"POS reservation updated notification","operationId":"posReservationUpdatedNotification","description":"These notifications are sent to the URL provided in the[`posReservationUpdateWebhookUrl` field](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-reservation-servicesetbyplatformcode#operation-reservation-servicesetbyplatformcode-body-application-json-posreservationupdatewebhookurl).","tags":["Reservations for Platforms"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/reservation-servicePosReservationUpdate"}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."}}}},"staff-apiShift notification":{"post":{"summary":"Shift notification","operationId":"shiftNotification","description":"Notify about a shift event.","tags":["Staff"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/staff-apiWebhookEventDto"}}},"required":true},"responses":{"200":{"description":"Your server returns this code if it accepts the callback."}}}}},"paths":{"\/o\/op\/data\/businesses":{"get":{"summary":"Get Businesses","operationId":"apeLookupBusinesses","description":"Returns a list of all businesses and business locations associated with the access token.","tags":["Order and Pay"],"responses":{"200":{"description":"Businesses","content":{"application\/json":{"schema":{"items":{"properties":{"name":{"example":"My Awesome Business","description":"The business name.","type":"string"},"id":{"example":454335871,"description":"The unique identifier for the business.","type":"integer","format":"int64"},"businessLocations":{"description":"The business locations within this business.","items":{"properties":{"id":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":{"example":"My Awesome Business - Location 1","description":"The business location name.","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"array"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/data\/{businessLocationId}\/floorplans":{"get":{"summary":"Get All Floorplans","operationId":"apeLookupFloorPlans","description":"Returns the floorplans for a specific business location.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"path","required":true},{"name":"expandTables","in":"query","required":false,"description":"If true, the response will include the table details for each floorplan.\nIf false, the response will only include the [`name`](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apelookupfloorplans#operation-apelookupfloorplans-200-body-application-json-name) and [`id`](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apelookupfloorplans#operation-apelookupfloorplans-200-body-application-json-id) for the floorplans.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Floorplans","content":{"application\/json":{"schema":{"items":{"properties":{"id":{"example":141948669132976,"description":"The unique identifier for the floorplan.","format":"int64","type":"integer"},"name":{"description":"The name of the floorplan.","example":"Terrace","type":"string"},"tables":{"items":{"$ref":"#\/components\/schemas\/apeTable"},"type":"array"}},"type":"object"},"type":"array"}}}},"404":{"description":"Not Found\n\nIndicates that the business location has no floorplans configured."}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/data\/{businessLocationId}\/floorplans\/{floorPlanId}\/tables":{"get":{"summary":"Get Floorplan Tables","operationId":"apeGetTables","description":"Returns the tables for a specific floorplan of a business location","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"path","required":true},{"schema":{"$ref":"#\/components\/schemas\/apeFloorPlanId"},"name":"floorPlanId","in":"path","required":true}],"responses":{"200":{"description":"Tables","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/apeTable"}}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/data\/account-profiles":{"get":{"summary":"Get All Order Profiles","operationId":"apeAccountProfiles","description":"Returns a list of active [order profiles](https:\/\/k-series-support.lightspeedhq.com\/hc\/en-us\/articles\/1260804657389-About-order-profiles) for a specific business location.\n\nThe order profile [code](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apeaccountprofiles#operation-apeaccountprofiles-200-body-application-json-accountprofilelist-code) can be used to retrieve a specific price list when [loading a menu](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apegetmenubyid).\n\nNote: Order Profiles were previously called Account Profiles, and may still be referred to in this way in the API, in some cases.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"responses":{"200":{"description":"Order profiles","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeAccountProfiles"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/data\/{businessLocationId}\/account-profiles\/tagcode\/{tagCode}":{"get":{"summary":"Get Single Order Profile","operationId":"apeGetAccountProfile","description":"Returns details of an active [order profile](https:\/\/k-series-support.lightspeedhq.com\/hc\/en-us\/articles\/1260804657389-About-order-profiles) based on its [code](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apeaccountprofiles#operation-apeaccountprofiles-200-body-application-json-accountprofilelist-code).\n\nNote: Order Profiles were previously called Account Profiles, and may still be referred to in this way in the API, in some cases.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"path","required":true},{"schema":{"$ref":"#\/components\/schemas\/apeTagCode"},"name":"tagCode","in":"path","required":true}],"responses":{"200":{"description":"Order profile","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeAccountProfile"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/menu\/list":{"get":{"summary":"Get All Menus","operationId":"apeLoadMenus","description":"Returns a list of menus for a given business location.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"responses":{"200":{"description":"Load menus","content":{"application\/json":{"schema":{"items":{"properties":{"menuName":{"description":"The name of the menu.","example":"Lunch Menu","type":"string"},"ikentooMenuId":{"type":"integer","description":"The unique identifier for the menu.","example":141948669132851,"format":"int64"}},"type":"object"},"type":"array"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/menu\/load\/{menuId}":{"get":{"summary":"Get Single Menu","operationId":"apeGetMenuById","description":"Returns details of a particular menu based on its unique identifier and other query parameters.","tags":["Order and Pay"],"parameters":[{"name":"menuId","in":"path","required":true,"description":"The unique identifier for the menu.","schema":{"type":"integer","description":"The unique identifier for the menu.","example":141948669132851,"format":"int64"}},{"name":"businessLocationId","in":"query","required":true,"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"}},{"name":"accountProfile","in":"query","required":false,"schema":{"type":"string","description":"The order profile [`code`](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apeaccountprofiles#operation-apeaccountprofiles-200-body-application-json-accountprofilelist-code). Item prices returned will be those associated with this order profile, when applicable. See the [order profiles](https:\/\/api-portal.lsk.lightspeed.app\/guides\/definitions\/order-profiles) definition for more details.","example":"TAKEAWAY","default":""}},{"name":"richContent","in":"query","required":false,"schema":{"type":"boolean","description":"Query parameter to include rich content of menu items.","example":true,"default":false}}],"responses":{"200":{"description":"Successful retrieval of menu details.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeMenu"}}}},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"properties":{"status":{"enum":["503"],"type":"string"},"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"apiSubExceptions":{"items":{"properties":{"field":{"type":"string"},"rejectedValue":{"type":"string"},"message":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/menu\/modifiers":{"get":{"summary":"Get Modifiers","operationId":"apeLoadAllModifiers","description":"Returns a list of production instructions for a specific business location.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"responses":{"200":{"description":"Load modifiers","content":{"application\/json":{"schema":{"items":{"$ref":"#\/components\/schemas\/apeProductionInstruction"},"type":"array","examples":[[{"multiSelectionPermitted":false,"productionInstructionGroupName":"Meat cooking","productionIntructionGroupId":236025632784487,"productionInstructionList":[{"instruction":"Bleu","ikentooModifierId":236025632784488},{"instruction":"Rare","ikentooModifierId":236025632784490},{"instruction":"Medium Rare","ikentooModifierId":236025632784492},{"instruction":"Medium","ikentooModifierId":236025632784494},{"instruction":"Medium well","ikentooModifierId":236025632784496},{"instruction":"Well done","ikentooModifierId":236025632784498}]},{"multiSelectionPermitted":false,"productionInstructionGroupName":"Fish cooking","productionIntructionGroupId":236025632784501,"productionInstructionList":[{"instruction":"Seared","ikentooModifierId":236025632784502},{"instruction":"Medium","ikentooModifierId":236025632784504},{"instruction":"Well done","ikentooModifierId":236025632784506}]},{"multiSelectionPermitted":false,"productionInstructionGroupName":"Egg cooking","productionIntructionGroupId":236025632784509,"productionInstructionList":[{"instruction":"Sunny Side","ikentooModifierId":236025632784510},{"instruction":"Over Easy","ikentooModifierId":236025632784512},{"instruction":"Hard","ikentooModifierId":236025632784514},{"instruction":"Scrambled","ikentooModifierId":236025632784516}]},{"multiSelectionPermitted":false,"productionInstructionGroupName":"Garnish","productionIntructionGroupId":236025632784519,"productionInstructionList":[{"instruction":"Fries","ikentooModifierId":236025632784520},{"instruction":"Pasta","ikentooModifierId":236025632784522},{"instruction":"Rice","ikentooModifierId":236025632784524},{"instruction":"Vegetables","ikentooModifierId":236025632784526},{"instruction":"Salad","ikentooModifierId":236025632784528}]},{"multiSelectionPermitted":false,"productionInstructionGroupName":"Flavors","productionIntructionGroupId":236025632784531,"productionInstructionList":[{"instruction":"Vanilla","ikentooModifierId":236025632784532},{"instruction":"Strawberry","ikentooModifierId":236025632784534},{"instruction":"Chocolate","ikentooModifierId":236025632784536},{"instruction":"Coffee","ikentooModifierId":236025632784538},{"instruction":"Caramel","ikentooModifierId":236025632784540}]}]]}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/menu\/discounts":{"get":{"summary":"Get Discounts","operationId":"apeLoadAllDiscounts","description":"Returns a list of discounts for a specific business location.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"responses":{"200":{"description":"Load discounts","content":{"application\/json":{"schema":{"items":{"$ref":"#\/components\/schemas\/apeDiscount"},"type":"array","examples":[[{"name":"Free","code":"FREE","discountPercentage":100.0},{"name":"Ten Euros Off","code":"TEN_OFF","discountAmount":10.0}]]}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/order\/local":{"post":{"summary":"Create Local Order","description":"Creates a new dine-in order for a specific business location. See [Online Ordering Basics](https:\/\/api-portal.lsk.lightspeed.app\/guides\/tutorials\/online-ordering-basics) for more details.\n\nIf the [accountIdentifier](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apelocalorder#operation-apelocalorder-body-application-json-accountidentifier) of an existing order is provided in the body of the request, the request will update the existing order.","operationId":"apeLocalOrder","requestBody":{"content":{"application\/json":{"schema":{"required":["businessLocationId","thirdPartyReference","endpointId","customerInfo"],"properties":{"businessLocationId":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"thirdPartyReference":{"description":"The external reference provided for this order. Must be unique. This value will be included in the order details sent to the [webhook URL](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apecreatewebhookoo#operation-apecreatewebhookoo-body-application-json-url).","type":"string","minLength":1,"maxLength":48,"examples":["MyAwesomeThirdPartyReference"]},"endpointId":{"description":"Endpoint ID for a unique webhook that has been created using [the webhook endpoint](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apecreatewebhookoo).","type":"string","examples":["MY-AWESOME-ENDPOINT-ID"]},"customerInfo":{"$ref":"#\/components\/schemas\/apeCustomerInfo"},"orderNote":{"description":"A note added to this order and displayed on the printed dockets.","type":"string","examples":["Sample Order Note"]},"maxTimeToAttemptOrderDeliverToPos":{"description":"** Use of this feature is strongly recommended **\n\nMaximum time to attempt delivery of this order to the POS. In milliseconds. The minimum value is 60000ms (1 minute).\n\nIf [`scheduledTimeForOrderAsIso8601`](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apelocalorder#operation-apelocalorder-body-application-json-scheduledtimefororderasiso8601) is used, this value will be added to the scheduled order time.","type":"integer","format":"int32","examples":[60000]},"staffId":{"description":"The unique identifier for the staff member.","type":"integer","format":"int64","examples":[1234567890]},"accountProfileCode":{"description":"A valid order profile [code](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apeaccountprofiles#operation-apeaccountprofiles-200-body-application-json-accountprofilelist-code) to associate with this order. See the [order profiles](https:\/\/api-portal.lsk.lightspeed.app\/guides\/definitions\/order-profiles) definition for more details.","type":"string","examples":["LOCALORDER"]},"scheduledTimeForOrderAsIso8601":{"description":"The time that the order will be sent to the POS. Must be in the future.","type":"string","format":"date-time","examples":["2024-04-04T09:42:00.000+00:00"]},"payment":{"$ref":"#\/components\/schemas\/apeOrderPayment"},"accountId":{"description":"The system-generated account identifier for this order (Applies to iKentoo V2). If this is specified, the associated order will be updated.","deprecated":true,"type":"string","examples":["1234567890"]},"accountIdentifier":{"description":"The system-generated account identifier for this order (Applies to iKentoo V3+). If this is specified, the associated order will be updated.","type":"string","examples":["A1235.89"]},"tableNumber":{"description":"The table number for this local order. If updating an existing order, (ie.`accountIdentifier` is specified), the `tableNumber` cannot be updated.","type":"string","examples":["1"]},"clientCount":{"description":"The number of customers for this order. If updating an existing order, (ie.`accountIdentifier` is specified), the `clientCount` cannot be updated.","type":"integer","format":"int32","examples":[4]},"items":{"description":"The items in this order.","items":{"$ref":"#\/components\/schemas\/apeLocalOrderItemLine"},"type":"array"},"targetPrinterProfileId":{"description":"The printer profile id to use for printing the receipt for this payment. If not provided, the default active printer profile for the business location will be used.","type":"integer","format":"int64","examples":[1773881235]}},"type":"object"}}},"required":true},"tags":["Order and Pay"],"responses":{"200":{"description":"accepted","content":{"application\/json":{"schema":{"properties":{"status":{"description":"The response.","type":"string","examples":["ok"]}},"type":"object"}}}},"400":{"description":"Bad Request.","content":{"application\/json":{"schema":{"type":"object","description":"Response object for error code 400","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T19:15:05.043+0000"]},"status":{"type":"integer","description":"The HTTP status code of the error response.","examples":[400]},"error":{"type":"string","description":"A brief title of the error status.","examples":["Bad Request"]},"message":{"type":"string","description":"A message describing the nature of the error in detail.","examples":["Validation failed for object='localOrder'. Error count: 1"]},"errors":{"type":"array","description":"An array of error details, outlining specific issues with the request.","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"A set of code strings that correspond to the validation error.","example":["NotNull.localOrder.thirdPartyReference","NotNull.thirdPartyReference","NotNull.java.lang.String","NotNull"]},"arguments":{"type":"array","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"Argument codes that are related to the field in validation.","example":["localOrder.thirdPartyReference","thirdPartyReference"]},"defaultMessage":{"type":"string","description":"The default message associated with the failed validation.","example":"thirdPartyReference"},"code":{"type":"string","description":"A single code that represents the specific validation rule that was not satisfied.","example":"thirdPartyReference"}}}},"defaultMessage":{"type":"string","description":"The default error message provided when the associated field fails validation.","example":"must not be null"},"objectName":{"type":"string","description":"The name of the object that failed validation.","example":"localOrder"},"field":{"type":"string","description":"The name of the field that failed validation.","example":"thirdPartyReference"},"bindingFailure":{"type":"boolean","description":"Indicates whether the error was a result of a binding failure.","example":false},"code":{"type":"string","description":"A code representing the specific type of validation error.","example":"NotNull"}}}},"path":{"type":"string","description":"The path of the failed request.","examples":["\/o\/op\/1\/order\/local"]}}}}}},"409":{"description":"Conflict","content":{"*\/*":{"schema":{"properties":{"status":{"description":"The request status.","type":"string","examples":["fail"]},"msg":{"description":"A message describing the error.","type":"string","examples":["reference has already been used 123456789"]}},"type":"object"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/order\/toGo":{"post":{"summary":"Create To Go Order","operationId":"apePlaceToGoOrder","description":"Creates a new takeaway or delivery order for a specific business location. See [Online Ordering Basics](https:\/\/api-portal.lsk.lightspeed.app\/guides\/tutorials\/online-ordering-basics) for more details.","requestBody":{"content":{"application\/json":{"schema":{"required":["businessLocationId","thirdPartyReference","endpointId","customerInfo"],"properties":{"businessLocationId":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"thirdPartyReference":{"description":"The external reference provided for this order. Must be unique. This value will be included in the order details sent to the [webhook URL](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apecreatewebhookoo#operation-apecreatewebhookoo-body-application-json-url).","type":"string","minLength":1,"maxLength":48,"examples":["MyAwesomeThirdPartyReference"]},"endpointId":{"description":"Endpoint id for a unique webhook that has been created using [the webhook endpoint](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apecreatewebhookoo).","type":"string","examples":["MY-AWESOME-ENDPOINT-ID"]},"customerInfo":{"$ref":"#\/components\/schemas\/apeCustomerInfo"},"orderNote":{"description":"A note added to this order and displayed on the printed dockets.","type":"string","examples":["Sample Order Note"]},"maxTimeToAttemptOrderDeliverToPos":{"description":"** Use of this feature is strongly recommended **\n\nMaximum time to attempt delivery of this order to the POS. In milliseconds. The minimum value is 60000ms (1 minute).\n\nIf [`scheduledTimeForOrderAsIso8601`](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apelocalorder#operation-apelocalorder-body-application-json-scheduledtimefororderasiso8601) is used, this value will be added to the scheduled order time.","type":"integer","format":"int32","examples":[60000]},"staffId":{"description":"The unique identifier for the staff member.","type":"integer","format":"int64","examples":[1234567890]},"accountProfileCode":{"description":"A valid order profile [code](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apeaccountprofiles#operation-apeaccountprofiles-200-body-application-json-accountprofilelist-code) to associate with this order. See the [order profiles](https:\/\/api-portal.lsk.lightspeed.app\/guides\/definitions\/order-profiles) definition for more details.","type":"string","examples":["TOGOORDER"]},"scheduledTimeForOrderAsIso8601":{"description":"The time that the order will be sent to the POS. Must be in the future.","type":"string","format":"date-time","examples":["2024-04-04T09:42:00.000+00:00"]},"payment":{"$ref":"#\/components\/schemas\/apeOrderPayment"},"collectionCode":{"maxLength":8,"description":"Unique collection code for this order. If left blank, one will be automatically generated.","type":"string","examples":["12345"]},"orderCollectionTimeAsIso8601":{"description":"The expected collection time of the order. Must be in the future.","type":"string","format":"date-time","examples":["2024-04-04T09:42:00.000+00:00"]},"items":{"type":"array","items":{"$ref":"#\/components\/schemas\/apeToGoOrderItemLine"}},"deliveryAddress":{"type":"object","description":"The address to which the order should be delivered.","properties":{"addressLine1":{"type":"string","description":"The first line of the street address."},"addressLine2":{"type":"string","description":"The second line of the street address (if applicable)."},"zip":{"type":"string","description":"The postal code for the delivery address."},"city":{"type":"string","description":"The city in which the delivery address is located."}}},"targetPrinterProfileId":{"description":"The printer profile id to use for printing the receipt for this payment. If not provided, the default active printer profile for the business location will be used.","type":"integer","format":"int64","examples":[1773881235]}},"type":"object"}}},"required":true},"tags":["Order and Pay"],"responses":{"200":{"description":"accepted","content":{"application\/json":{"schema":{"properties":{"status":{"description":"The response.","type":"string","examples":["ok"]}},"type":"object"}}}},"400":{"description":"Bad Request.","content":{"application\/json":{"schema":{"type":"object","description":"Response object for error code 400","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T19:15:05.043+0000"]},"status":{"type":"integer","description":"The HTTP status code of the error response.","examples":[400]},"error":{"type":"string","description":"A brief title of the error status.","examples":["Bad Request"]},"message":{"type":"string","description":"A message describing the nature of the error in detail.","examples":["Validation failed for object='toGoOrder'. Error count: 1"]},"errors":{"type":"array","description":"An array of error details, outlining specific issues with the request.","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"A set of code strings that correspond to the validation error.","example":["NotNull.toGoOrder.thirdPartyReference","NotNull.thirdPartyReference","NotNull.java.lang.String","NotNull"]},"arguments":{"type":"array","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"Argument codes that are related to the field in validation.","example":["toGoOrder.thirdPartyReference","thirdPartyReference"]},"defaultMessage":{"type":"string","description":"The default message associated with the failed validation.","example":"thirdPartyReference"},"code":{"type":"string","description":"A single code that represents the specific validation rule that was not satisfied.","example":"thirdPartyReference"}}}},"defaultMessage":{"type":"string","description":"The default error message provided when the associated field fails validation.","example":"must not be null"},"objectName":{"type":"string","description":"The name of the object that failed validation.","example":"toGoOrder"},"field":{"type":"string","description":"The name of the field that failed validation.","example":"thirdPartyReference"},"bindingFailure":{"type":"boolean","description":"Indicates whether the error was a result of a binding failure.","example":false},"code":{"type":"string","description":"A code representing the specific type of validation error.","example":"NotNull"}}}},"path":{"type":"string","description":"The path of the failed request.","examples":["\/o\/op\/1\/order\/toGo"]}}}}}},"409":{"description":"Conflict","content":{"*\/*":{"schema":{"properties":{"status":{"description":"The request status.","type":"string","examples":["fail"]},"msg":{"description":"A message describing the error.","type":"string","examples":["reference has already been used 123456789"]}},"type":"object"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/order\/table\/getCheck":{"get":{"summary":"Get All Open Checks","operationId":"apeGetCheck","description":"Returns all open orders for the current day.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"responses":{"200":{"description":"All open orders for the current day.","content":{"application\/json":{"schema":{"items":{"$ref":"#\/components\/schemas\/apeAccountSnapshot"},"type":"array"}}}},"400":{"description":"Bad Request","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101+0000"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[400]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Bad Request"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["Required request parameter 'businessLocationId' for method parameter type Long is not present"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/order\/table\/getCheck"]}}}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/order\/table\/{tableNumber}\/getCheck":{"get":{"summary":"Get Open Check by Table","operationId":"apeCheckLookup","description":"Returns an open order for a specific table.\nNote: If more than one order is assigned to the table, the oldest order will be returned.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true},{"schema":{"example":1,"description":"The table [number](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apelookupfloorplans#operation-apelookupfloorplans-200-body-application-json-tables-number).","type":"integer","format":"int32"},"name":"tableNumber","in":"path","required":true}],"responses":{"200":{"description":"Check","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeAccountSnapshot"}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101+0000"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[404]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Not Found"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["account not found for BL 123456789"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/order\/table\/1\/getCheck"]}}}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/order\/accounts\/{accountIdentifier}":{"get":{"summary":"Get Single Check","operationId":"apeCheckLookupWithaccountIdentifier","description":"Returns a check based on the Account Identifier.","tags":["Order and Pay"],"parameters":[{"schema":{"description":"The ID of the account being requested.\n(ex: A78094.69)","example":"A739800.52","type":"string"},"name":"accountIdentifier","in":"path","required":true},{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"responses":{"200":{"description":"The account requested.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeAccountSnapshot"}}}},"400":{"description":"Bad Request","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101+0000"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[400]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Bad Request"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["Invalid account identifier"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/order\/accounts\/-1"]}}}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101+0000"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[404]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Not Found"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["account not found for BL 123456789"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/order\/accounts\/A78094.697\/"]}}}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/pay":{"post":{"summary":"Apply a Payment","operationId":"apeMakePayment","description":"Add a payment to an existing order.","requestBody":{"content":{"application\/json":{"schema":{"properties":{"iKaccountId":{"type":"integer","format":"int64","deprecated":true,"examples":[0]},"iKaccountIdentifier":{"description":"The ID of the account to apply this payment to.","type":"string","examples":["A1234.56"]},"thirdPartyPaymentReference":{"description":"A unique external reference provided for this order. This value will be sent back in the webhook.","type":"string","minLength":1,"maxLength":50,"examples":["12345678901234"]},"endpointId":{"description":"Endpoint ID for a unique webhook that has been created using [the webhook endpoint](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-apecreatewebhookoo).","type":"string","examples":["MY-AWESOME-ENDPOINT-ID"]},"businessLocationId":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"taskTtlInMs":{"description":"Maximum time to attempt delivery of this payment to the POS. In milliseconds. The minimum value is 60000ms (1 minute).","type":"integer","format":"int32","examples":[60000]},"staffId":{"type":"integer","format":"int64","description":"The ID of the employee responsible for this payment."},"deviceId":{"description":"POS device to specifically receive this payment. If left null then all POS devices may receive the payment but only one will process it.","type":"integer","format":"int64","examples":[12345678980]},"paymentMethod":{"description":"Payment method code as configured by the merchant.","type":"string","examples":["OOPAYMENT"]},"paymentAmount":{"description":"The total amount of the payment without tips.","type":"number","examples":[20.06]},"tipAmount":{"description":"The tip amount, if any.","type":"number","examples":[2.5]},"targetPrinterProfileId":{"description":"The printer profile id to use for printing the receipt for this payment. If not provided, the default active printer profile for the business location will be used.","type":"integer","format":"int64","examples":[1773881235]}},"required":["businessLocationId","endpointId","paymentAmount","thirdPartyPaymentReference"],"type":"object"}}},"required":true},"tags":["Order and Pay"],"responses":{"200":{"description":"accepted","content":{"application\/json":{"schema":{"properties":{"status":{"description":"The response.","type":"string","examples":["ok"]}},"type":"object"}}}},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred, in UTC.","examples":["2023-11-07T23:00:20.075+0000"]},"status":{"type":"integer","description":"The HTTP status code indicating the type of error.","examples":[400]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Bad Request"]},"message":{"type":"string","description":"A detailed message describing the error, including any specific details about the request that led to the error.","examples":["reference has already been used 12345678901234"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/pay"]}},"type":"object"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/printMsg":{"post":{"summary":"Print Message","operationId":"apePrintMsg","description":"Send a message to the POS. Generates a notification on the register screen. Can also be sent to the printer. <br> If the POS is offline, the message will be stored for up to 24h and sent when the POS comes online.","tags":["Order and Pay"],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true}],"requestBody":{"content":{"application\/json":{"schema":{"properties":{"message":{"description":"The message to be printed.","type":"string","examples":["The Print Message"]},"alsoToPrinter":{"description":"Print on the receipt printer as well as till (highly recommended).","type":"boolean","examples":[true]}},"type":"object","required":["message"]}}},"required":true},"responses":{"200":{"description":"accepted","content":{"application\/json":{"schema":{"properties":{"status":{"description":"The response.","type":"string","examples":["ok"]}},"type":"object"}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/op\/1\/itemAvailability":{"get":{"summary":"Get Item Availability Information","description":"Returns item availability information, by business location and SKUs.","operationId":"apeGetRestrictedItems","tags":["Order and Pay"],"security":[{"OAuth2":["orders-api"]}],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true},{"name":"skus","in":"query","description":"List of SKUs to return.","required":true,"schema":{"type":"array","items":{"type":"string","example":"SKU1"},"maxItems":50,"minItems":1}},{"name":"page","in":"query","description":"Starting page of results, when paginating. Starts at 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Number of results to return, when paginating.","required":false,"schema":{"maximum":50,"minimum":1,"type":"integer","format":"int32","default":25},"example":25}],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeRestrictedItemPaginatedResponse"}}}},"400":{"description":"Bad Request","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101Z"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[400]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Bad Request"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["Required request parameter 'businessLocationId' for method parameter type Long is not present"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/itemAvailability"]}}}}}}}},"post":{"summary":"Get Item Availability Information by POST","description":"Returns item availability information filtered by business location and SKUs. The list of SKUs must be provided in the request body.","operationId":"apeGetRestrictedItemsByPost","tags":["Order and Pay"],"security":[{"OAuth2":["orders-api"]}],"parameters":[{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"query","required":true},{"name":"page","in":"query","description":"Starting page of results, when paginating. Starts at 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Number of results to return, when paginating.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":25},"example":25}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeSkusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeRestrictedItemPaginatedResponse"}}}},"400":{"description":"Bad Request","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101Z"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[400]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Bad Request"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["Required request parameter 'businessLocationId' for method parameter type Long is not present"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/op\/1\/itemAvailability"]}}}}}}}}},"\/o\/wh\/1\/webhook":{"put":{"summary":"Create a Webhook","operationId":"apeCreateWebhookOo","description":"Configures a new webhook to be used for order status updates.","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpoint"}}},"required":true},"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"Webhook","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpoint"}}}},"400":{"description":"Bad Request","content":{"application\/json":{"schema":{"type":"object","description":"Response object for error code 400.","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T19:15:05.043+0000"]},"status":{"type":"integer","description":"The HTTP status code of the error response.","examples":[400]},"error":{"type":"string","description":"A brief title of the error status.","examples":["Bad Request"]},"message":{"type":"string","description":"A message describing the nature of the error in detail.","examples":["Validation failed for object='webhookEndpointDto'. Error count: 1"]},"errors":{"type":"array","description":"An array of error details, outlining specific issues with the request.","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"A set of code strings that correspond to the validation error.","example":["NotNull.webhookEndpointDto.endpointId","NotNull.endpointId","NotNull.java.lang.String","NotNull"]},"arguments":{"type":"array","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"Argument codes that are related to the field in validation.","example":["webhookEndpointDto.endpointId","endpointId"]},"defaultMessage":{"type":"string","description":"The default message associated with the failed validation.","example":"endpointId"},"code":{"type":"string","description":"A single code that represents the specific validation rule that was not satisfied.","example":"endpointId"}}}},"defaultMessage":{"type":"string","description":"The default error message provided when the associated field fails validation.","example":"must not be null"},"objectName":{"type":"string","description":"The name of the object that failed validation.","example":"webhookEndpointDto"},"field":{"type":"string","description":"The name of the field that failed validation.","example":"endpointId"},"bindingFailure":{"type":"boolean","description":"Indicates whether the error was a result of a binding failure.","example":false},"code":{"type":"string","description":"A code representing the specific type of validation error.","example":"NotNull"}}}},"path":{"type":"string","description":"The path of the failed request.","examples":["\/o\/wh\/1\/webhook"]}}}}}}},"security":[{"OAuth2":["orders-api"]}]},"post":{"summary":"Update a webhook","operationId":"apeUpdateWebhookOo","description":"Updates an existing webhook entry.\n\nImportant Note: if `provideAccount`, `expandTransactions`, or `expandPayments` are excluded from the update request, they will be reset to their default values.","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpoint"}}},"required":true},"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"Webhook","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpoint"}}}},"400":{"description":"Bad Request","content":{"application\/json":{"schema":{"type":"object","description":"Response object for error code 400.","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T19:15:05.043+0000"]},"status":{"type":"integer","description":"The HTTP status code of the error response.","examples":[400]},"error":{"type":"string","description":"A brief title of the error status.","examples":["Bad Request"]},"message":{"type":"string","description":"A message describing the nature of the error in detail.","examples":["Validation failed for object='webhookEndpointDto'. Error count: 1"]},"errors":{"type":"array","description":"An array of error details, outlining specific issues with the request.","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"A set of code strings that correspond to the validation error.","example":["NotNull.webhookEndpointDto.endpointId","NotNull.endpointId","NotNull.java.lang.String","NotNull"]},"arguments":{"type":"array","items":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"Argument codes that are related to the field in validation.","example":["webhookEndpointDto.endpointId","endpointId"]},"defaultMessage":{"type":"string","description":"The default message associated with the failed validation.","example":"endpointId"},"code":{"type":"string","description":"A single code that represents the specific validation rule that was not satisfied.","example":"endpointId"}}}},"defaultMessage":{"type":"string","description":"The default error message provided when the associated field fails validation.","example":"must not be null"},"objectName":{"type":"string","description":"The name of the object that failed validation.","example":"webhookEndpointDto"},"field":{"type":"string","description":"The name of the field that failed validation.","example":"endpointId"},"bindingFailure":{"type":"boolean","description":"Indicates whether the error was a result of a binding failure.","example":false},"code":{"type":"string","description":"A code representing the specific type of validation error.","example":"NotNull"}}}},"path":{"type":"string","description":"The path of the failed request.","examples":["\/o\/wh\/1\/webhook"]}}}}}}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/wh\/1\/webhook\/{endpointId}":{"get":{"summary":"Retrieve a Webhook","operationId":"apeGetWebhookOo","description":"Retrieve an existing webhook.","parameters":[{"schema":{"example":"endpoint","type":"string"},"name":"endpointId","in":"path","required":true}],"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"Webhook","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpoint"}}}},"404":{"description":"Not Found","content":{"application\/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"The date and time at which the error occurred.","examples":["2023-11-07T22:18:49.101+0000"]},"status":{"type":"integer","description":"The HTTP status code associated with the error.","examples":[404]},"error":{"type":"string","description":"A short description of the HTTP status code meaning.","examples":["Not Found"]},"message":{"type":"string","description":"A human-readable message providing more details about the error.","examples":["endpoint ID not found for MISSING-ENDPOINT"]},"path":{"type":"string","description":"The request path where the error occurred.","examples":["\/o\/wh\/1\/webhook\/MISSING-ENDPOINT"]}}}}}}},"security":[{"OAuth2":["orders-api"]}]},"delete":{"summary":"Delete a Webhook","operationId":"apeDeleteWebhookEndpoint","description":"Delete an existing webhook.","parameters":[{"schema":{"example":"endpoint","type":"string"},"name":"endpointId","in":"path","required":true}],"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"Webhook deleted"}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/wh\/1\/webhook\/{endpointId}\/business-locations":{"get":{"summary":"Get webhook business locations","operationId":"apeGetWebhookBusinessLocations","description":"Get all business locations added to a webhook endpoint via the API.","parameters":[{"schema":{"type":"string","example":"endpoint"},"name":"endpointId","in":"path","required":true}],"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"Business location IDs","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/apeWebhookEndpointBusinessLocationDto"}}}}},"404":{"description":"Not Found"}},"security":[{"OAuth2":["orders-api"]}]}},"\/o\/wh\/1\/webhook\/{endpointId}\/business-locations\/{businessLocationId}":{"parameters":[{"in":"path","name":"businessLocationId","required":true,"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"}}],"put":{"summary":"Add a Business Location to a Webhook","operationId":"apeAddWebhookBusinessLocation","description":"Enables a webhook for the specified business location.\nRequired to receive item availability notifications (type 'item').\nNot required for 'order' and 'payment' webhooks.","parameters":[{"schema":{"type":"string","example":"endpoint"},"name":"endpointId","in":"path","required":true},{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"path","required":true}],"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpointBusinessLocationDto"}}}},"404":{"description":"Not Found"}},"security":[{"OAuth2":["orders-api"]}]},"delete":{"summary":"Remove Business Location from a Webhook","operationId":"apeRemoveWebhookBusinessLocation","description":"Remove a business location ID from a webhook endpoint.","parameters":[{"schema":{"type":"string","example":"endpoint"},"name":"endpointId","in":"path","required":true},{"schema":{"$ref":"#\/components\/schemas\/apeBusinessLocationId"},"name":"businessLocationId","in":"path","required":true}],"tags":["Order and Pay: Webhook"],"responses":{"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/apeWebhookEndpointBusinessLocationDto"}}}},"404":{"description":"Not Found"}},"security":[{"OAuth2":["orders-api"]}]}},"\/f\/data\/businesses":{"get":{"summary":"Get Businesses","operationId":"financial-apiGetBusinesses","description":"Returns all businesses the token has access to. Pagination is supported by providing the `page` and `size` query parameters. The maximum number of business locations per business returned is 500.","tags":["Financial"],"parameters":[{"description":"Starting page of results, when paginating.","in":"query","name":"page","required":false,"schema":{"default":0,"format":"int32","type":"integer"}},{"description":"Number of results to return, when paginating.","in":"query","name":"size","required":false,"schema":{"default":1000,"format":"int32","type":"integer"}}],"responses":{"200":{"description":"Businesses returned","content":{"application\/json":{"schema":{"properties":{"_embedded":{"properties":{"businessList":{"items":{"properties":{"businessName":{"type":"string","example":"My Business","description":"The name of the business."},"businessId":{"type":"number","example":1234,"description":"The unique identifier for the business."},"currencyCode":{"type":"string","description":"The ISO 4217 currency code","example":"GBP"},"businessLocations":{"items":{"properties":{"blName":{"type":"string","example":"My Business Location 1","description":"The name of the business location."},"blID":{"type":"number","example":1234567890,"description":"The unique identifier for the business location."},"country":{"type":"string","example":"GB","description":"The ISO 3166 country code."},"timezone":{"type":"string","example":"Europe\/London","description":"The time zone in ICANN format."}},"type":"object"},"type":"array"}},"type":"object"},"type":"array"}},"type":"object"},"_links":{"properties":{"self":{"properties":{"href":{"example":"https:\/\/\/api.ikentoo.com\/data\/businesses","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/tax-rates":{"get":{"summary":"Get Tax Rates","operationId":"financial-apiGetTaxRates","description":"Returns tax rates for a business location.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"}],"tags":["Financial"],"responses":{"200":{"description":"Tax rates returned","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiResourcesTaxRate"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/paymentMethods":{"get":{"summary":"Get Payment Methods","operationId":"financial-apiGetPaymentMethods","description":"Returns all payment methods for a business location.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"}],"tags":["Financial"],"responses":{"200":{"description":"Payment methods returned","content":{"application\/json":{"schema":{"properties":{"_embedded":{"properties":{"paymentMethodList":{"items":{"properties":{"name":{"type":"string","description":"Name of the payment type.","example":"Cash"},"code":{"type":"string","description":"System code for the payment type.","example":"CASH"},"accountingReference":{"type":"string","description":"Accounting reference code, if assigned.","example":"cash-payment"},"pmId":{"type":"number","description":"System identification number for payment type.","example":1234567890}},"type":"object"},"type":"array"}},"type":"object"},"_links":{"properties":{"self":{"properties":{"href":{"example":"https:\/\/\/api.ikentoo.com\/finance\/1234567\/paymentMethodss","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/accountingGroups":{"get":{"summary":"Get Accounting Groups","operationId":"financial-apiGetAccountingGroups","description":"Returns all accounting groups for a business location.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"}],"tags":["Financial"],"responses":{"200":{"description":"Accounting groups returned","content":{"application\/json":{"schema":{"properties":{"_embedded":{"description":"The list of accounting groups.","properties":{"accountingGroupList":{"items":{"properties":{"accountingGroupId":{"type":"number","example":1234567890,"description":"The numeric identifier of the accounting group."},"name":{"type":"string","example":"Food","description":"The name of the accounting group."},"statisticGroup":{"type":"string","example":"[{\"category\":\"default\",\"value\":\"Food\"}]","description":"The assigned statistic group, if applicable."},"code":{"type":"string","example":"fd","description":"The code assigned to the accounting group, if applicable."}},"type":"object"},"type":"array"}},"type":"object"},"_links":{"properties":{"self":{"properties":{"href":{"example":"https:\/\/api.ikentoo.com\/f\/finance\/1234567\/accountingGroups","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"}}}},"400":{"description":"Bad Request"}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/financials\/{from}\/{to}":{"get":{"summary":"Get Financials","operationId":"financial-apiGetFinancials","description":"Returns financial data for a business location for a specified date range.\n\nNote: Will only return sales created after migration from iKentoo 2.0 to Lightspeed K-Series.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"schema":{"example":"2022-09-21T10:11:56Z","type":"string","format":"date-time"},"name":"from","description":"Start of requested results, in ISO 8601 format.\n\nThe date range between 'from' and 'to' cannot exceed 365 days (1 year).\n\nExample:`2022-09-21T10:11:56Z` or `2022-09-21T06:11:56-04:00`","in":"path","required":true},{"schema":{"example":"2022-09-21T10:11:56Z","type":"string","format":"date-time"},"name":"to","description":"End of requested results, in ISO 8601 format.\n\nExample:`2022-09-21T10:11:56Z` or `2022-09-21T06:11:56-04:00`","in":"path","required":true},{"$ref":"#\/components\/parameters\/financial-apiIncludeParameter"},{"schema":{"default":1000,"maximum":1000,"type":"integer","format":"int32"},"name":"pageSize","description":"Number of entries to return.","in":"query","required":false},{"schema":{"type":"string"},"name":"nextPageToken","description":"The `accountId` where the results should begin.\n\nExample: `A65315.18`","in":"query","required":false}],"tags":["Financial"],"responses":{"200":{"description":"Financials returned","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiFinancialDto"}}}},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/dailyFinancials":{"get":{"summary":"Get Daily Financials","operationId":"financial-apiGetDailyFinancials","description":"Returns the financial data for the current business day or for the specified date.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"$ref":"#\/components\/parameters\/financial-apiIncludeParameter"},{"$ref":"#\/components\/parameters\/financial-apiDateParameter"},{"schema":{"example":true,"default":false,"type":"boolean"},"name":"includeConsumers","in":"query","required":false}],"tags":["Financial"],"responses":{"200":{"description":"Daily financials returned","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiFinancialDto"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/saleByExternalReference":{"get":{"summary":"Get Receipt by External Reference","operationId":"financial-apiGetReceiptByExternalReference","description":"Returns a single receipt matching the external reference supplied in the request. See [`externalReferences`](https:\/\/api-docs.lsk.lightspeed.app\/operation\/operation-financial-apigetfinancials#operation-financial-apigetfinancials-200-body-application-json-sales-externalreferences) for examples.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"$ref":"#\/components\/parameters\/financial-apiExternalReferenceId"}],"tags":["Financial"],"responses":{"200":{"description":"Receipt returned","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiSaleDto"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/finance\/{businessLocationId}\/aggregatedSales":{"get":{"summary":"Get Aggregated Sales","operationId":"financial-apiGetAggregatedSales","description":"Get sales for the current business day or the specified date range, aggregated by one or more values.\nThe values are specified in the `groupBy` parameter and are nested in the order provided in the request.\n\n- Use either the `date` parameter **or** the `from` and `to` parameters to specify the period.\n- The `date` parameter specifies a single date for aggregation.\n- The `from` and `to` parameters specify a date-time range and must be used together.\n- **If neither `date` nor `from`\/`to` are provided it defaults to today's date**.\n- The date range between `from` and `to` cannot exceed 365 days (1 year).\n","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"name":"date","in":"query","required":false,"description":"Specify a single date for which to retrieve aggregated sales data. Cannot be combined with `from` and `to`. Use either `date`, or both `from` and `to`.\n","schema":{"type":"string","format":"date"}},{"name":"from","in":"query","required":false,"description":"Specify the start datetime for the aggregation range. Must be used together with `to`. Cannot be combined with `date`.\n","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","required":false,"description":"Specify the end datetime for the aggregation range. Must be used together with `from`. Cannot be combined with `date`.\n","schema":{"type":"string","format":"date-time"}},{"$ref":"#\/components\/parameters\/financial-apiFlattenedParameter"},{"$ref":"#\/components\/parameters\/financial-apiGroupByParameter"}],"tags":["Financial"],"responses":{"200":{"description":"Aggregated sales returned","content":{"application\/json":{"schema":{"properties":{"groupByKey":{"type":"string","description":"The groupBy parameter provided.","examples":["staff"]},"groupByValue":{"type":"string","description":"The value that corresponds to the groupBy parameter.","examples":["manager"]},"totalAmount":{"type":"string","description":"The aggregated total of sales for this data set (ex. `staff: manager`).","examples":["47.00"]},"serviceCharge":{"type":"string","description":"The aggregated total of service charges for this data set (ex. `staff: manager`).","examples":["0.00"]},"totalDiscountedAmount":{"type":"string","description":"The aggregated total of discounts for this data set (ex. `staff: manager`).","examples":["0.00"]},"totalTaxAmount":{"type":"string","description":"The aggregated tax total for this data set (ex. `staff: manager`).","examples":["7.04"]},"numberOfSales":{"type":"number","description":"The total number of sale lines for this data set (ex. `staff: manager`).","examples":[7.0]},"children":{"items":{"properties":{"groupByKey":{"type":"string","description":"The second groupBy parameter provided, if applicable. The parameters will be nested based on the order provided. For example, `staff,device` will show totals for each `staff` value, and then those totals broken down by `device`.","example":"device"},"children":{"items":{"properties":{"groupByValue":{"type":"string","description":"The value that corresponds to the second groupBy parameter provided.","example":"iPad7"},"totalAmount":{"type":"string","description":"The aggregated total of sales for this nested data set (ex. `staff:manager -> device: iPad7 `).","example":"28.00"},"serviceCharge":{"type":"string","description":"The aggregated total of service charges for this nested data set (ex. `staff:manager -> device: iPad7 `).","example":"0.00"},"totalDiscountedAmount":{"type":"string","description":"The aggregated total of discounts for this nested data set (ex. `staff:manager -> device: iPad7 `).","example":"0.00"},"totalTaxAmount":{"type":"string","description":"The aggregated tax total for this nested data set (ex. `staff:manager -> device: iPad7 `).","example":"4.19"},"numberOfSales":{"type":"number","description":"The total number of sales for this nested data set (ex. `staff:manager -> device: iPad7 `).","example":3.0},"children":{"items":{"properties":{"groupByKey":{"type":"string"},"children":{"description":"This would continue with as many nested data sets as specified by the groupBy parameters.","items":{"properties":{},"type":"object"},"type":"array"}},"type":"object"},"type":"array"}},"type":"object"},"type":"array"}},"type":"object"},"type":"array"},"nextStartOfDayAsIso8601":{"type":"string"},"dataComplete":{"type":"boolean"},"businessName":{"type":"string"}},"type":"object"}}}},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/v2\/business-location\/{businessLocationId}\/sales":{"get":{"x-generated":true,"summary":"Get Sales","operationId":"financial-apiGetBusinessLocationSales","description":"Returns financial data for a business location for a specified date range. Sorted by the `timeClosed` field of the sales.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"schema":{"example":"2023-01-01T14:00:00Z","type":"string","format":"date-time"},"name":"from","description":"Start of requested results, in ISO 8601 format.\n\nThe date range between 'from' and 'to' cannot exceed 365 days (1 year).\n\nBased on the timeClosed sales field.","in":"query","required":true},{"schema":{"example":"2023-01-01T13:00:00Z","type":"string","format":"date-time"},"name":"to","description":"End of requested results, in ISO 8601 format.\n\nBased on the timeClosed sales field.\n\nIf the `to` date is set to a future date or not included, it will be adjusted to the current\ndate and time to retrieve the most recent data available.","in":"query","required":false},{"$ref":"#\/components\/parameters\/financial-apiIncludeParameter"},{"$ref":"#\/components\/parameters\/financial-apiPageSize"},{"$ref":"#\/components\/parameters\/financial-apiNextPageToken"}],"tags":["FinancialV2"],"responses":{"200":{"description":"Financial data returned successfully.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiSalesExportDto"}}}},"400":{"description":"Bad Request - Invalid request parameters or format.","content":{"application\/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]},"examples":{"wrongDateFormat":{"summary":"Wrong DateTime Format","value":{"error":"Invalid date format: 12\/12\/2023"}},"missingParameter":{"summary":"Missing 'from' or 'to' Parameter","value":{"error":"Required request parameter 'from' for method parameter type OffsetDateTime is not present"}},"invalidDateRange":{"summary":"Invalid Date Range","value":{"error":"Invalid date range: 'from' date %s should not be after 'to' date %s"}},"invalidFromDate":{"summary":"Invalid 'from' date query Parameter","value":{"error":"Invalid 'from' date query parameter. The requested business location was not operational on the provided date.\nPlease specify a date and time after: {earliest_date}, which is the earliest available date for this location.\n"}}}}}},"500":{"description":"Internal Server Error - An error occurred on the server.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiErrorResponse"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/v2\/business-location\/{businessLocationId}\/sales-daily":{"get":{"x-generated":true,"summary":"Get business day sales","operationId":"financial-apiGetBusinessLocationSalesOfABusinessDay","description":"Returns financial data for a business location for a specified business day.","parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"schema":{"example":"2021-09-21","type":"string","format":"date"},"name":"date","description":"The date of the business day to get sales for.\n\nExample:`2022-09-21` or `2022-12-01`","in":"query","required":true},{"$ref":"#\/components\/parameters\/financial-apiIncludeParameter"}],"tags":["FinancialV2"],"responses":{"200":{"description":"Financial data returned successfully.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiSalesDailyExportDto"}}}},"400":{"description":"Bad Request - Invalid request parameters or format.","content":{"application\/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error - An error occurred on the server.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiErrorResponse"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/v2\/business-location\/{businessLocationId}\/lightspeed-payments":{"get":{"x-generated":true,"summary":"Lightspeed Payments Data","operationId":"financial-apiGetLightspeedPayments","description":"Returns Lightspeed Payments fee and surcharge data for a business location for a specified date range. Results are queried and sorted based on the specified dateType.\n\nNote: Will only return sales created after migration from iKentoo 2.0 to Lightspeed K-Series. See [this article](https:\/\/k-series-support.lightspeedhq.com\/hc\/en-us\/articles\/360056758333-Upgrading-to-K-Series-from-iKentoo-2-0) for more details.","tags":["FinancialV2"],"parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"schema":{"example":"2023-01-01T14:00:00Z","type":"string","format":"date-time"},"name":"from","description":"Start of requested results, in ISO 8601 format.\n\nThe date range between 'from' and 'to' cannot exceed 365 days (1 year).\n\nResults queried by the dateType parameter.","in":"query","required":true},{"schema":{"example":"2023-01-01T13:00:00Z","type":"string","format":"date-time"},"name":"to","description":"End of requested results, in ISO 8601 format.\n\nResults queried by the dateType parameter.","in":"query","required":false},{"$ref":"#\/components\/parameters\/financial-apiPageSize"},{"name":"offset","in":"query","required":false,"schema":{"example":0,"default":0,"description":"The pagination offset.","type":"integer","format":"int32"}},{"name":"sortDirection","in":"query","required":false,"schema":{"$ref":"#\/components\/schemas\/financial-apiSortDirection"}},{"name":"dateType","in":"query","required":false,"schema":{"$ref":"#\/components\/schemas\/financial-apiDateType"}},{"name":"status","in":"query","description":"Payment statuses to filter the result set by.","example":["CAPTURED","REFUNDED"],"required":false,"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/financial-apiLSPaymentStatus"}}}],"responses":{"200":{"description":"successful operation","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiLSPaymentsDto"}}}},"400":{"description":"Bad Request - Invalid request parameters or format.","content":{"application\/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]},"examples":{"wrongDateFormat":{"summary":"Wrong DateTime Format","value":{"error":"Invalid date format: 12\/12\/2023"}},"invalidDateRange":{"summary":"Invalid Date Range","value":{"error":"'from' date cannot be after 'to' date"}}}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/f\/v2\/beta\/business-location\/{businessLocationId}\/aborted-orders":{"get":{"x-generated":true,"summary":"BETA - Get Aborted Orders","operationId":"financial-apiGetBusinessLocationAbortedOrdersOfABusinessDay","description":"Retrieves a list of aborted orders for a specified business day.\n\nAn aborted order is defined as an instance where items were added to an order, but **all** items were subsequently removed without being committed.","x-beta":true,"parameters":[{"$ref":"#\/components\/parameters\/financial-apiBusinessLocationId"},{"schema":{"example":"2023-01-01","type":"string","format":"date"},"name":"date","description":"The business date of the aborted orders.","in":"query","required":true}],"tags":["FinancialV2"],"responses":{"200":{"description":"Aborted orders returned successfully.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/financial-apiAbortedOrderDto"}}}}},"400":{"description":"Bad Request - Invalid request parameters or format.","content":{"application\/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal Server Error - An error occurred on the server.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/financial-apiErrorResponse"}}}}},"security":[{"OAuth2":["financial-api"]}]}},"\/id-cards\/v1\/business-locations\/{businessLocationId}\/batches":{"post":{"summary":"Create an ID Card Batch","description":"Creates a new batch of ID cards for a specific business location.","operationId":"id-cards-apiCreateIdCardBatch","x-beta":true,"security":[{"OAuth2":["id-cards"]}],"parameters":[{"$ref":"#\/components\/parameters\/id-cards-apiBusinessLocationId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/id-cards-apiCreateIdCardBatchRequest"}}}},"responses":{"201":{"description":"Successfully created an ID card batch.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/id-cards-apiIdCardBatch"}}}}},"tags":["ID Cards"]}},"\/id-cards\/v1\/business-locations\/{businessLocationId}\/batches\/{batchId}\/cards":{"post":{"summary":"Create ID Cards","description":"Creates a specified number of ID cards for an existing ID card batch.","operationId":"id-cards-apiCreateIdCards","x-beta":true,"security":[{"OAuth2":["id-cards"]}],"parameters":[{"$ref":"#\/components\/parameters\/id-cards-apiBusinessLocationId"},{"name":"batchId","in":"path","required":true,"description":"The unique identifier for the ID card batch.","schema":{"type":"integer","format":"int64"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/id-cards-apiCreateIdCardsRequest"}}}},"responses":{"201":{"description":"Successfully created ID cards.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/id-cards-apiCreateIdCardsResponse"}}}}},"tags":["ID Cards"]}},"\/r\/wh\/1\/webhook\/{endpointId}":{"delete":{"description":"Delete a webhook endpoint","operationId":"ireneDeleteWebhookEndpoint","parameters":[{"in":"path","name":"endpointId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ireneBadRequest"}}}},"403":{"description":"Forbidden","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ireneForbidden"}}}},"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ireneNotFound"}}}}},"security":[{"OAuth2":["reservations-api"]}],"summary":"Delete a webhook endpoint","tags":["Reservations"]},"get":{"description":"Get a webhook endpoint","operationId":"ireneGetWebhookEndpoint","parameters":[{"in":"path","name":"endpointId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ireneWebhookEndpointDto"}}},"description":"OK"},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ireneBadRequest"}}}},"403":{"description":"Forbidden","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ireneForbidden"}}}},"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ireneNotFound"}}}}},"security":[{"OAuth2":["reservations-api"]}],"summary":"Get a webhook endpoint","tags":["Reservations"]}},"\/items\/v1\/items\/{id}":{"get":{"summary":"Get Item by ID","operationId":"items-apiGetItemById","description":"Returns the details of a specific item.","tags":["Items"],"parameters":[{"in":"path","schema":{"$ref":"#\/components\/schemas\/items-apiItemId"},"name":"id","required":true},{"in":"query","name":"businessLocationId","schema":{"$ref":"#\/components\/schemas\/items-apiBusinessLocationId"},"required":true}],"responses":{"200":{"description":"Item found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/items-apiItemDTO"}}}},"404":{"description":"Item not found","content":{"*\/*":{"schema":{"properties":{"status":{"enum":["404"],"type":"string"},"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"apiSubExceptions":{"items":{"properties":{"field":{"type":"string"},"rejectedValue":{"type":"string"},"message":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}}},"security":[{"OAuth2":["items"]}]},"put":{"summary":"Update Item by ID","description":"Modifies the values of an existing item.","operationId":"items-apiPut","tags":["Items"],"parameters":[{"in":"path","name":"id","schema":{"$ref":"#\/components\/schemas\/items-apiItemId"},"required":true}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/items-apiUpdateItemDTO"}}},"required":true},"responses":{"200":{"description":"Item updated","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/items-apiItemDTO"}}}},"400":{"description":"Constraint violation","content":{"*\/*":{"schema":{"properties":{"status":{"enum":["400"],"type":"string"},"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"apiSubExceptions":{"items":{"properties":{"field":{"type":"string"},"rejectedValue":{"type":"string"},"message":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}}},"security":[{"OAuth2":["items"]}]}},"\/items\/v1\/items":{"get":{"summary":"Get All Items","operationId":"items-apiGetItems","description":"Returns the items for a specific business location. Supports searching by [`accountingGroupId`](#operation-getitems-accountinggroupid), [`name`](#operation-getitems-name), or [`sku`](#operation-getitems-sku).","tags":["Items"],"parameters":[{"in":"query","name":"businessLocationId","schema":{"$ref":"#\/components\/schemas\/items-apiBusinessLocationId"},"required":true},{"in":"query","name":"sku","schema":{"$ref":"#\/components\/schemas\/items-apiSku"},"required":false},{"in":"query","name":"name","schema":{"$ref":"#\/components\/schemas\/items-apiName"},"required":false},{"in":"query","name":"accountingGroupId","schema":{"$ref":"#\/components\/schemas\/items-apiAccountingGroupId"},"required":false},{"in":"query","name":"offset","schema":{"$ref":"#\/components\/schemas\/items-apiOffset"},"required":false},{"in":"query","name":"amount","schema":{"$ref":"#\/components\/schemas\/items-apiAmount"},"required":false}],"responses":{"200":{"description":"Item found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/items-apiItemDTO"}}}},"400":{"description":"Constraint violation","content":{"*\/*":{"schema":{"properties":{"status":{"enum":["400"],"type":"string"},"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"apiSubExceptions":{"items":{"properties":{"field":{"type":"string"},"rejectedValue":{"type":"string"},"message":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}},"404":{"description":"Not Found","content":{"*\/*":{"schema":{"properties":{"status":{"enum":["404"],"type":"string"},"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"apiSubExceptions":{"items":{"properties":{"field":{"type":"string"},"rejectedValue":{"type":"string"},"message":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}}},"security":[{"OAuth2":["items"]}]},"post":{"summary":"Create Item","operationId":"items-apiCreateItem","description":"Create a new item for a specific business location.","tags":["Items"],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/items-apiCreateItemDTO"}}},"required":true},"responses":{"201":{"description":"Item created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/items-apiItemDTO"}}}},"404":{"description":"Could not create item","content":{"*\/*":{"schema":{"properties":{"status":{"enum":["404"],"type":"string"},"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"apiSubExceptions":{"items":{"properties":{"field":{"type":"string"},"rejectedValue":{"type":"string"},"message":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}}},"security":[{"OAuth2":["items"]}]}},"\/pms\/v1\/business-locations\/{businessLocationId}\/revenue-centers":{"get":{"summary":"Get PMS Revenue Centers","operationId":"pms-apiGetRevenueCenters","description":"Returns a list of all POS Configurations which can be mapped to PMS Revenue Centers. For more details on revenue centers, see our [Integration Guide](https:\/\/api-portal.lsk.lightspeed.app\/guides\/integration-guides\/property-management-systems\/financial-api-endpoints#revenue-centers).","tags":["PMS"],"parameters":[{"name":"businessLocationId","in":"path","required":true,"schema":{"$ref":"#\/components\/schemas\/pms-apiBusinessLocationId"}}],"responses":{"200":{"description":"Found a list of Revenue Centers","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/pms-apiRevenueCenterId"},"name":{"$ref":"#\/components\/schemas\/pms-apiRevenueCenterName"}}}}}}},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/pms-apiErrorResponse"}}}},"404":{"description":"Invalid input business location id","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/pms-apiErrorResponse"}}}}},"security":[{"OAuth2":["propertymanagement"]}]}},"\/pms\/v1\/providers\/{id}":{"get":{"summary":"Get a PMS provider by ID","operationId":"pms-apiGetProvider","description":"Returns the details of a specific PMS provider.\n\nOnly PMS providers created by the authenticated OAuth client will be returned.\n","tags":["PMS"],"parameters":[{"in":"path","schema":{"$ref":"#\/components\/schemas\/pms-apiProviderId"},"name":"id","required":true}],"responses":{"200":{"description":"Provider found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/pms-apiGetProvider"}}}},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/pms-apiErrorResponse"}}}},"404":{"description":"Provider not found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/pms-apiErrorResponse"}}}}},"security":[{"OAuth2":["propertymanagement"]}]},"put":{"summary":"Update a PMS provider","operationId":"pms-apiUpdateProvider","description":"Modifies the values of an existing **PMS** provider.\n\nOnly PMS providers created by the authenticated OAuth client can be updated.\n","tags":["PMS"],"parameters":[{"in":"path","schema":{"$ref":"#\/components\/schemas\/pms-apiProviderId"},"name":"id","required":true}],"requestBody":{"content":{"application\/json":{"schema":{"required":["name","endpoint","apiKey","features"],"properties":{"name":{"$ref":"#\/components\/schemas\/pms-apiProviderName"},"endpoint":{"$ref":"#\/components\/schemas\/pms-apiProviderEndpoint
[...]
